.container {
  background-color: red;
  .holder {
    background-color: blue;
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    h1,
    h2,
    h3 {
      text-align: center;
    }

    h2 {
      font-size: 3.5rem;
    }
    h3 {
      font-size: 2rem;
    }
    p {
      font-size: 1.8rem;
    }
    .top {
      padding: 2rem 0 2rem 2rem;

      background-color: green;
      h2 {
        text-align: left;
        font-size: 3rem;
      }
    }
    .bottom {
      background-color: yellow;
      display: flex;
      .titles,
      .data {
        height: 20rem;
        padding: 1rem;
      }

      .titles {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: purple;
      }
      .data {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
}
