.container {
  width: 100%;
  max-width: 18rem;
  height: 4rem;
  border-radius: 4rem;
  overflow: hidden;
  .signInButton {
    background-color: #1f2729;
  }
  .signOutButton {
    background-color: #292c2c;
  }
  .signInButton,
  .signOutButton {
    height: 100%;
    transition: all 0.1s;
    width: 100%;
    color: white;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 1.4rem;
    svg {
      margin-right: 0.5rem;
      width: 4rem;
      height: 4rem;
      transition: all 0.5s;
    }
    span {
      font-weight: bold;
    }
    &:hover {
      filter: brightness(0.8);
    }
  }
}
