.deletedUser {
  display: none;
}

.users,
.usersEditing,
.usersSaving {
  a,
  a:visited {
    color: black;
  }
  // background-color: yellow;
  display: flex;
  position: relative;
  width: calc(100% - 1px);

  li {
    background-color: #d6d6d6;
    background-color: #d6d6d6;
    border-bottom: 1px solid black;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30rem;
    overflow: hidden;
    // border-left: 1px solid black;
    border-right: 1px solid black;

    &:first-child {
      border: none;
      border-right: 1px solid black;

      background-color: transparent;
    }
  }

  .editBtn,
  .deleteBtn,
  .detalhes {
    display: flex;
    justify-content: center;
    width: 5rem;
    cursor: default;
  }
  .deleteBtn {
    position: relative;
    .deleteBtnActive,
    .deleteBtnActiveOff,
    .deleteBtnInactive {
      background-color: rgb(211, 145, 145);
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      position: absolute;
      height: 100%;
      width: 100%;
    }
    @keyframes activate {
      from {
        opacity: 0;
        left: 5rem;
      }
      to {
        opacity: 1;

        left: 0rem;
      }
    }

    .deleteBtnInactive {
      opacity: 0;
      cursor: default;
    }
    .deleteBtnActive,
    .deleteBtnActiveOff {
      transition: opacity 0.3s;
      animation-name: activate;
      animation-duration: 0.4s;
      animation-timing-function: ease-in-out;
    }
    .deleteBtnActive {
      &:hover {
        opacity: 0.8;
      }
    }
    .deleteBtnActiveOff {
      cursor: default;
      filter: grayscale(100%);
      background-color: rgb(183, 183, 183);
      color: rgb(137, 137, 137);
    }
  }
}
.usersEditing {
  .editBtn {
    width: 10rem;
    button {
      width: 100%;
      height: 100%;
    }
  }
  li {
    background-color: rgba(255, 255, 255, 1);
    input,
    select {
      height: 100%;
    }
    input {
      width: 100%;
      text-align: center;
    }
    select {
      cursor: pointer;
      text-align: center;
    }
  }
}

@keyframes saving {
  0% {
    background-color: white;
  }
  50% {
    background-color: rgb(176, 176, 176);
  }
  100% {
    background-color: white;
  }
}

.usersSaving {
  transition: all 1s;

  &::after {
    opacity: 0.5;
    pointer-events: none;
    animation: 0.5s ease-in-out infinite saving;
    background-color: transparent;
    content: " ";
    display: flex;
    width: calc(100% - 5rem);
    height: 4rem;
    left: 5rem;
    position: absolute;
    top: 0;
    z-index: 5;
    transition: all 1s;
  }
}
@keyframes saved {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.users {
  &::after {
    pointer-events: none;

    animation: 0.5s ease-in-out saved;
    // background-color: transparent;
    background-color: rgba(255, 255, 255, 0.5);
    content: " ";
    display: flex;
    width: calc(100% - 5rem);
    height: 4rem;
    left: 5rem;
    position: absolute;
    top: 0;
    z-index: 5;
    transition: all 0.5s;
    opacity: 0;
  }
}
